# Graded Assignment 3: 9 to 5

Time to show off your SQL skills! For each question, copy the SQL query you used and make note of the answer.

## The Dataset

For this assignment, you will be using the Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results which can be found on [Kaggle](https://www.kaggle.com/datasets/bls/employment).

## Business Issue

You are working for the Bureau of Labor Statistics with the United States government and have been approached by your boss with an important meeting request. You have been asked by your supervisor to meet with Dolly Parton whose nonprofit is looking to shed light on the state of employment in the United States. As part of the 9 to 5 project, their research is focused on production and nonsupervisory employees and how those employees fare compared to all employees in the United States. While the data the BLS collects from the CES is publicly available, Dolly Parton and her colleagues need your assistance navigating the thousands of rows in each table in LaborStatisticsDB.

## About the Dataset

This dataset comes directly from the Bureau of Labor Statistics’ Current Employment Survey (CES). Here are some things you need to know:

1. The industry table contains an NAICS code. This is different from the industry code. NAICS stands for North American Industry Classification System.
1. Series ID is composed of multiple different codes. CES stands for Current Employment Survey, the name of the survey which collected the data. The industry code as specified by the BLS and the data type code as specified in the datatype table.

## Set Up

To connect to the database, use the same connection info used during the SQL lessons. 

For the assignment, we will be using `LaborStatisticsDB`.

## Database Exploration

To start with, let’s get to know the database further.

1. Use this space to make note of each table in the database, the columns within each table, each column’s data type, and how the tables are connected. You can write this down or draw a diagram. Whatever method helps you get an understanding of what is going on with `LaborStatisticsDB`.
   
   To add a photo, diagram or document to your file, drop the file into the folder that holds this notebook.  Use the link button to the right of the  </> symbol in the gray part of this cell, the link is just the name of your file.

In [ ]:
/*
I used the Kaggle dataset page. It has a data dictionary and customizable view with robust documentation.
I'm also using the database view in my sidebar on VS code to see the custom made tables that aren't on Kaggle.
So between these two views, I have all tables and their columns covered :)

I did this because being a good Analyst involves making good use of my time, and respecting other people's time. 

Here's the link https://www.kaggle.com/datasets/bls/employment
*/

2. What is the datatype for women employees?

In [ ]:
USE LaborStatisticsDB

SELECT *
FROM datatype
WHERE data_type_text LIKE '%women%'

-- Datatype code: 10

-- Literal SQL Data type: String.

3. What is the series id for  women employees in the commercial banking industry in the financial activities supersector?

In [ ]:
USE LaborStatisticsDB

SELECT series_id, supersector_code, industry_code, series_title
FROM series
WHERE supersector_code = 55 AND industry_code = 55522110 AND data_type_code = 10

-- Here's the table this query returns, for ease of grading:

series_id	    supersector_code	industry_code	series_title
CES5552211010	55	                55522110	     Women employees
CEU5552211010	55	                55522110	     Women employees

-- There were two: CES5552211010 and CEU5552211010
-- I suspect the correct answer is: CES5552211010

## Aggregate Your Friends and Code some SQL

Put together the following:

1. How many employees were reported in 2016 in all industries? Round to the nearest whole number.

In [ ]:
USE LaborStatisticsDB

SELECT ROUND(SUM([value]), 0) AS number_of_employeds_year_2016
FROM annual_2016
WHERE series_id like '%01' -- Code 01 denotes All employees

-- 2,340,612 employees reported in 2016 in "all" industries, which includes total nonfarm and total private as industries

2. How many women employees were reported in 2016 in all industries? Round to the nearest whole number.

In [ ]:
USE LaborStatisticsDB

SELECT ROUND(SUM([value]), 0) AS number_of_women_employeds_year_2016
FROM annual_2016
WHERE series_id like '%10' -- Code 10 denotes women employees

-- 1,125,490 women employees in 2016

3. How many production/nonsupervisory employees were reported in 2016? Round to the nearest whole number.

In [ ]:
USE LaborStatisticsDB

SELECT ROUND(SUM([value]), 0) AS number_of_filtered_employeds_year_2016
FROM annual_2016
WHERE series_id like '%06' -- Code 06 denotes the thing we're looking for here

-- 1,263,650 production and nonsupervisory employees in 2016

4. In January 2017, what is the average weekly hours worked by production and nonsupervisory employees across all industries?

In [ ]:
USE LaborStatisticsDB

SELECT ROUND(AVG([value]), 0) AS number_of_avg_wkly_hrs_production_and_nonsupervisory_employees
FROM january_2017
WHERE series_id like '%07' -- Code 07 denotes the thing we're looking for here

-- 36 average weekly hours worked for the above mentioned cohort

5. What is the total weekly payroll for production and nonsupervisory employees across all industries in January 2017? Round to the nearest penny.

In [ ]:
USE LaborStatisticsDB

SELECT 
FORMAT(SUM(CAST([value] AS DECIMAL(18,4))), 'N2') AS total_weekly_payroll_for_production_and_nonsupervisory_employees_for_jan_2017
FROM january_2017
WHERE series_id LIKE '%82'

-- $1,838,753,220.00 spent on total weekly payrolls for above-mentioned cohort for period January 2017

6. In January 2017, for which industry was the average weekly hours worked by production and nonsupervisory employees the highest? Which industry was the lowest?

In [ ]:
USE LaborStatisticsDB

SELECT ROUND(AVG([value]), 0) AS number_of_avg_wkly_hrs_production_and_nonsupervisory_employees,
series_id
FROM january_2017
WHERE series_id like '%07' -- Code 07 denotes the thing we're looking for here
GROUP BY series_id
ORDER BY number_of_avg_wkly_hrs_production_and_nonsupervisory_employees --add DESC to see the inverse :)

-- CES3133635007: highest average weekly hours = Motor vehicle power train components
-- CES7071394007 lowest average weekly hours = Fitness and recreational sports centers

7. In January 2021, for which industry was the total weekly payroll for production and nonsupervisory employees the highest? Which industry was the lowest?

In [ ]:
SELECT 
ROUND(SUM([value]), 0) AS total_payrolls, 
series_id
FROM january_2017
WHERE series_id LIKE '%82'
GROUP BY series_id
ORDER BY total_payrolls DESC -- remove to see the inverse :)

-- lowest CEU8081231082 = Coin-operated laundries and drycleaners
-- highest CES0500000082 = Total private

## Join in on the Fun

Time to start joining! You can choose the type of join you use, just make sure to make a  note!

1. Join `annual_2016` with `series` on `series_id`. We only want the data in the `annual_2016` table to be included in the result.

In [ ]:
SELECT TOP 50 a.*
FROM annual_2016 a
INNER JOIN series s ON s.series_id = a.series_id
ORDER BY a.id

-- used inner join and drew all from left table via SELECT statement

2. Join `series` and `datatype` on `data_type_code`.

In [ ]:
SELECT TOP 50 *
FROM datatype d
INNER JOIN series s ON s.data_type_code = d.data_type_code

3. Join `series` and `industry` on `industry_code`.

In [ ]:
SELECT TOP 50 *
FROM industry i
INNER JOIN series s ON s.industry_code = i.industry_code

## Subqueries, Unions, Derived Tables, Oh My!

1. Write a query that returns the `series_id`, `industry_code`, `industry_name`, and `value` from the `january_2017` table but only if that value is greater than the average value for `annual_2016` of `data_type_code` 82.

In [ ]:
SELECT 
j.series_id, 
FORMAT([value], 'C', 'en-us') AS agg_wkly_pyrlls_prdctn_nonsprvsry,
(SELECT industry_name FROM industry WHERE SUBSTRING(j.series_id, 4, 8) = industry_code) AS industry_name_proxy,
SUBSTRING(j.series_id, 4, 8) AS industry_code_proxy

FROM january_2017 j

WHERE j.series_id LIKE '%82'
AND [value] > (SELECT AVG([value]) FROM annual_2016 WHERE series_id LIKE '%82')
GROUP BY j.series_id, j.[value]
ORDER BY agg_wkly_pyrlls_prdctn_nonsprvsry DESC

-- Hello :) This query returns aggregate weekly payrolls for production and non-supervisory employees, grouped by industry,
-- and then sorted by the total weekly payrolls in descending order. I formatted the payrolls currency style for readability.

-- Here are the top 10 results the query returns, for ease of grading :
series_id	agg_wkly_pyrlls_prdctn_nonsprvsry	    industry_name_proxy	                        industry_code_proxy
CES4244500082	$974,710.00	                        Food and beverage stores	                42445000
CES5552210082	$971,796.00	                        Depository credit intermediation            55522100
CES7072251382	$969,748.00	                        Limited-service restaurants	                70722513
CEU4244500082	$963,315.00	                        Food and beverage stores	                42445000
CEU2023600082	$940,800.00	                        Construction of buildings	                20236000
CEU7072251382	$922,041.00	                        Limited-service restaurants	                70722513
CES2023700082	$908,374.00	                        Heavy and civil engineering construction	20237000
CEU5552420082	$894,878.00	                        Insurance agencies	                        55524200
CEU4142500082	$873,578.00	                        Electronic markets and agents and brokers	41425000
CES5552420082	$872,398.00	                        Insurance agencies	                        55524200

**Optional Bonus Question:** Write the above query as a common table expression!

In [ ]:
WITH above_avg_payrolls AS (
    SELECT 
        j.series_id, 
        j.[value],
        FORMAT(j.[value], 'C', 'en-us') AS agg_wkly_pyrlls_prdctn_nonsprvsry,
        SUBSTRING(j.series_id, 4, 8) AS industry_code_proxy
    FROM january_2017 j
    WHERE j.[value] > (
        SELECT AVG([value]) 
        FROM annual_2016 
        WHERE series_id LIKE '%82'
    )
)

SELECT TOP 10 *
FROM above_avg_payrolls

-- This should return the previous-query's table that I posted in the code cell before this one. Hope this helps!!

2. Create a `Union` table comparing average weekly earnings of production and nonsupervisory employees between `annual_2016` and `january_2017` using the data type 30.  Round to the nearest penny.  You should have a column for the average earnings and a column for the year, and the period.

In [ ]:
SELECT 
FORMAT(AVG([value]), 'C', 'en-us') avg_earnings,
[year], 
[period]
FROM (
SELECT 
[value],
[year],
[period]
FROM annual_2016
WHERE series_id LIKE '%30'
UNION ALL
SELECT 
[value],
[year],
[period]
FROM january_2017
WHERE series_id LIKE '%30'
) AS time_series_comparison
GROUP BY [year], [period]

-- here's the table this will return to save you some time :)

avg_earnings	year	period
$808.53	       2017	        M01
$797.20	       2016	        M13

## Summarize Your Results

With what you know now about the  Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results and working with the Labor Statistics Database, answer the following questions. Note that while this is subjective, you should include relevant data to back up your opinion.

1. During which time period did production and nonsupervisory employees fare better?

-- 2017. But I say that with very low confidence due to methodological issues such as taking the average of averages and not accounting for inflation. See the above table for my figures as well as the query :)

2. In which industries did production and nonsupervisory employees fare better?

Here's the top 9 industries by Inflation-adjusted Average Weekly Earnings (AWE) for production and nonsupervisory employees in descending order from the years 2016 and 2017: 

Reinsurance carriers
Petroleum and coal products
Pipeline transportation
Fossil fuel electric power generation
Software publishers
Electric power generation
Aircraft
Custom computer programming services
Portfolio management

Here's my query: 

SELECT TOP 10
j.series_id, 
(j.[value] + a.[value])/2 inflation_adjusted_avg_wkly_earnings_prdctn_nonsprvsry,
(SELECT industry_name FROM industry WHERE SUBSTRING(j.series_id, 4, 8) = industry_code) AS industry_name_proxy

FROM january_2017 j
INNER JOIN annual_2016 a ON j.series_id = a.series_id

WHERE j.series_id LIKE '%31'

GROUP BY j.series_id, j.[value], a.[value]
ORDER BY inflation_adjusted_avg_wkly_earnings_prdctn_nonsprvsry DESC

Please note: I combined the two tables and then took an average. I understand that is not statistically sound but I did the best I could with the data I had access to :) All currency numbers are in 1982-1984 dollars and are inflation-adjusted. The industries line up with macro trends from 2016 and 2017 and further align with common sense about industries and their pay.

3. Now that you have explored the datasets, is there any data or information that you wish you had in this analysis?

I found this dataset fairly robust for our purposes. Obviously the original dataset is around 1.2 GB and is likely too large for the scope of this course. There is a more accurate way to take the average of averages (and it is published on the BLS website) so that would have been nice from a data science, statistically-rigorous perspective. It could have been cool to explore the mathematics of why taking the average of averages can be misleading and which BLS figures to use to achieve that aim. Naturally, I love adjusting for inflation and producing rigorous results, so having the whole dataset, or more years of data, would have been cool. But I understand how expensive that is :) I also wish the information in the questions from the aggregation section were more clear. A lot of our aggregations included double or triple counting things, as a bunch of the 'industries' are aggregates. For example, I found that an industry code 7 digits long indicated that the 'industry' was an aggregate (ie total nonfarms) of real industries, whereas an 8 digit industry code indicated a specific industry (ie reinsurance).